<nav class="navbar navbar-expand-lg">
  <div class="container-fluid" style="justify-content: space-between  ;">
    <a class="navbar-brand" href="#">ZenduForms</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><img src="assets/images/list.png" /> Forms <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="assets/images/users.png" /> Customers</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><img src="assets/images/audio.png" /> Submissions <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="assets/images/history.png" /> History</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><img src="assets/images/line-chart.png" /> Reports <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img src="assets/images/line-chart.png" /> Workflow</a>
      </li>
      
    </ul>
    <ul class="navbar-nav mr-auto" style="float:right;">
      <li class="nav-item">
      <a class="nav-link" href="#search"><img src="assets/images/bell.png" style="width: 24px;height: 24px;"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#search"><img src="assets/images/logout.png" style="width: 24px;height: 24px;"></a>
    </li>
  </ul>
    
  </div>
</nav>
<div class="container-fluid ps-4 pe-4" style="margin-top:44.8px;">
  <h2 class="mb-5">Submissions</h2>

  <div class="d-flex flex-row bd-highlight" style="gap:8px">
    <div class="input-group mb-3 custom-input-group" style="width: 334px; height: 48px; ">
      <div class="input-group-prepend">
        <span class="input-group-text custom-input-group-text"><i class="fa fa-search"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <select class="form-control" style="width: 334px; height: 48px; padding: 13px 16px;" (change)="changeFrom($event)">
      <option value="">Select From</option>
      <option value="denisgordiyenya@gmail.com">denisgordiyenya&#64;gmail.com</option>
      <option value="kronvold@live.com">kronvold&#64;live.com</option>
      <option value="osrin@gmail.com">osrin&#64;gmail.com</option>
      <option value="zendu@zendu.com">zendu&#64;zendu.com</option>
    </select>
    <select class="form-control" style="width: 334px; height: 48px; padding: 13px 16px;" (change)="changeStatus($event)">
      <option value="">Select Status</option>
      <option value="Low Risk">Low Risk</option>
      <option value="Needs Review">Needs Review</option>
      <option value="Unassigned">Unassigned</option>
      <option value="Uncomplete">Uncomplete</option>
    </select>
    <div [formGroup]="formGroup">
      <p-calendar 
      [(ngModel)]="date3" 
      dateFormat="dd.mm.yy" formControlName="date3"/>
    </div>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="width:160px; height: 52px; margin-left: 20px ;">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (change)="toggleView()">
      <label class="btn btn-outline-primary" for="btnradio1" style="margin: auto;
    padding: 12px 0px;">Map</label>
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (change)="toggleView()">
      <label class="btn btn-outline-primary" for="btnradio2"style="margin: auto;
    padding: 12px 0px;">List</label>
    </div>

    <a href="#" style="margin-top:24px; font-size:16px; color:#2188D9" (click)="exportData()"><img src="assets/images/export.png"  style="width: 17px; height: 20px;"/>Export</a>
    
  </div>

  @if (viewMode == 'map') {
    <div class="d-flex flex-row bd-highlight" style="gap:20px; min-height: 600px;">
      <div class="d-flex flex-column bd-highlight"  style="width: 30%;">
        <ul class="list-group mockdata-list">
          @for (item of mockData; track item.id) {
           
          <li  *ngIf="(selectedStatus == item.status || selectedStatus == '') && (selectedFrom == item.from || selectedFrom == '')" class="list-group-item" style="font-size: 16px; font-weight: 700; line-height: 20.8px">
            <p>{{ item.title }}</p>
            @if (item.status == 'Uncomplete') {
            <span class="badge badge-primary badge-pill" style="float:right; width: 128px;font-size: 14px; font-weight: 500; background-color: #FF3D001A;  color: #FF3D00;">
              <i class="fa fa-circle" style="width: 12px; font-size: 12px;"></i> {{ item.status }}
            </span>
            } @else if(item.status == 'Low Risk') {
             <span class="badge badge-primary badge-pill" style="float:right; width: 128px;font-size: 14px; font-weight: 500; background-color: #D7E5DA;  color: #53D86A;">
              <i class="fa fa-circle" style="width: 12px; font-size: 12px;"></i> {{ item.status }}
            </span>
            } @else {
              <span class="badge badge-primary badge-pill" style="float:right; width: 128px;font-size: 14px; font-weight: 500; background-color: #ECECED;  color: #B8B9BC;">
                <i class="fa fa-circle" style="width: 12px; font-size: 12px;"></i> {{ item.status }}
              </span>
            }
            <p class="mb-1" style="color: #B8B9BC; font-size: 16px; font-weight:500; line-height: 20.8px;">
              <span>From: </span>
              <span style="color:#060C1B">{{ item.from }}</span>
            </p>
            <p class="mb-1" style="color: #B8B9BC; font-size: 16px; font-weight:500; line-height: 20.8px;">
              <span>To: </span>
              <span style="color:#060C1B">{{ item.to }}</span>
            </p>
            <p class="mb-1" style="color: #B8B9BC; font-size: 16px; font-weight:500; line-height: 20.8px;">
              <span>Due Date: </span>
              <span style="color:#FF3D00">{{ item.due_date }}</span>
            </p>
          </li>
          }
        </ul>
      </div>
      <div style="width: 70%; position: relative;">
        <div style="height: 40px;width: 40px;background-color: #fff;position: absolute;z-index: 999;box-shadow: 5px 5px 5px #c3c3c3;right: 40px;top: 10px;">
          <img src="assets/images/zoom.png" style="width: 28px; height: 28px; text-align: center; margin:7px;"/>
        </div>
        <div style="height: 96px;width: 48px;background-color: #fff;position: absolute;z-index: 999;box-shadow: 5px 5px 5px #c3c3c3;right: 40px;bottom: 180px;">
          <span><i class="fa fa-plus" style="font-size: 22px;margin: 14px;"></i></span>
          <hr style="width:80%; margin:0 auto;"/>
          <span><i class="fa fa-minus" style="font-size: 22px;margin: 14px;"></i></span>
        </div>
        <div style="height: 48px;width: 48px; border-radius: 40px; background-color: #fff;position: absolute;z-index: 999;box-shadow: 5px 5px 5px #c3c3c3;right: 40px;bottom: 80px;">
          <img src="assets/images/layers.png" style="width: 28px; height: 28px; text-align: center; margin:10px;"/>
        </div>
        <div style="height: 48px;width: 48px; border-radius: 40px; background-color: #fff;position: absolute;z-index: 999;box-shadow: 5px 5px 5px #c3c3c3;right: 40px;bottom: 20px;">
          <img src="assets/images/cancel.png" style="width: 20px; height: 20px; text-align: center; margin:15px;"/>
        </div>
        <div class="map" id="map" class="match-parent"></div>
      </div>
    </div>
  } @else if (viewMode == 'list') {
    <div class="d-flex flex-row bd-highlight">
      <table class="table m-3">
        <thead>
          <tr>
            <th>
              <input type="checkbox" name="selectall" id="selectall"  (change)="selectAll()"/>
            </th>
            <th>Task</th>
            <th>Status</th>
            <th>From</th>
            <th>To</th>
            <th>Customer Address</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          @for (item of mockTableData; track item.id) {
          <tr *ngIf="(selectedStatus == item.status || selectedStatus == '') && (selectedFrom == item.from || selectedFrom == '')">
            <td><input type="checkbox" name="selecton_{{item.id}}" id="selecton_{{item.id}}"  [attr.checked]="selectAllCheckBoxes ? 'checked' : null"/></td>
            <td>{{ item.task }}</td>
            <td>
              <span [ngClass]="{'low-risk': item.status === 'Low Risk', 'uncomplete' : item.status === 'Uncomplete' , 'unassigned' : item.status === 'Unassigned'  }">
                <i class="fa fa-circle" style="width: 12px; font-size: 12px;"></i> {{ item.status }}
              </span>
            </td>
            <td>{{ item.from }}</td>
            <td>{{ item.to }}</td>
            <td>{{ item.address }}</td>
            @if (item.is_due) {
              <td style="color:#FF3D00;">{{ item.due_date }}</td>
            } @else {
              <td>{{ item.due_date }}</td>
            }
          </tr>
          }
        </tbody>

      </table>
    </div>
    <div class="d-flex flex-row ">
      <div class="d-flex pull-left w-50">
        <p>1-10 of 176 submissions</p>
      </div>
      <div class="d-flex pull-right w-100">
        <nav aria-label="Page navigation example"  class="pull-right" style="background: none;">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item me-2" style="border-radius: 5px;"><a style="border-radius: 5px; color:#060C1B" class="page-link" href="#">1</a></li>
          <li class="page-item me-2" style="border-radius: 5px;"><a style="border-radius: 5px; color:#060C1B" class="page-link" href="#">2</a></li>
          <li class="page-item me-2" style="border-radius: 5px;"><a style="border-radius: 5px; color:#060C1B" class="page-link" href="#">3</a></li>
          <li class="page-item me-2" style="border-radius: 5px;"><a style="border-radius: 5px; color:#060C1B" class="page-link" href="#">4</a></li>
          <li class="page-item me-2" style="border-radius: 5px;"><a style="border-radius: 5px; color:#060C1B" class="page-link" href="#">5</a></li>
          <li class="page-item me-2" style="border-radius: 5px;"><a style="border-radius: 5px; color:#060C1B" class="page-link" href="#">6</a></li>
          <li class="page-item me-2" style="border-radius: 5px;"><a style="border-radius: 5px; color:#060C1B" class="page-link" href="#">7</a></li>
          <li class="page-item me-2" style="border-radius: 5px;"><a style="border-radius: 5px; color:#060C1B" class="page-link" href="#">8</a></li>
          <li class="page-item me-2" style="border-radius: 5px;"><a style="border-radius: 5px; color:#060C1B" class="page-link" href="#">9</a></li>
          <li class="page-item me-2" style="border-radius: 5px;">       <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
        </nav>
      </div>
    </div>

  }
  
</div>

<router-outlet />
